In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('GroceryStoreDataSet.csv')
df.head()

              MILK,BREAD,BISCUIT
0  BREAD,MILK,BISCUIT,CORNFLAKES
1            BREAD,TEA,BOURNVITA
2           JAM,MAGGI,BREAD,MILK
3              MAGGI,TEA,BISCUIT
4            BREAD,TEA,BOURNVITA

In [4]:
df.fillna('!',inplace=True)
trans = df.values.tolist()

In [5]:
for i in range(len(trans)):
    trans[i] = [x for x in trans[i] if not x=='!']

In [6]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(trans).transform(trans)
transactions = pd.DataFrame(te_ary, columns=te.columns_)

In [12]:
freq_items = apriori(transactions, min_support=0.001, use_colnames=True, verbose=1)
freq_items.head(7)

Processing 240 combinations | Sampling itemset size 2

    support                         itemsets
0  0.052632              (BREAD,COFFEE,COCK)
1  0.105263             (BREAD,COFFEE,SUGER)
2  0.052632                     (BREAD,MILK)
3  0.052632  (BREAD,MILK,BISCUIT,CORNFLAKES)
4  0.052632            (BREAD,SUGER,BISCUIT)
5  0.052632          (BREAD,SUGER,BOURNVITA)
6  0.105263            (BREAD,TEA,BOURNVITA)

In [13]:
freq_items['length'] = freq_items['itemsets'].apply(lambda x: len(x))

In [9]:
freq_items.sort_values('length',ascending=False)

     support                          itemsets  length
0   0.052632               (BREAD,COFFEE,COCK)       1
1   0.105263              (BREAD,COFFEE,SUGER)       1
2   0.052632                      (BREAD,MILK)       1
3   0.052632   (BREAD,MILK,BISCUIT,CORNFLAKES)       1
4   0.052632             (BREAD,SUGER,BISCUIT)       1
5   0.052632           (BREAD,SUGER,BOURNVITA)       1
6   0.105263             (BREAD,TEA,BOURNVITA)       1
7   0.105263  (COFFEE,COCK,BISCUIT,CORNFLAKES)       1
8   0.052632          (COFFEE,SUGER,BOURNVITA)       1
9   0.052632         (COFFEE,SUGER,CORNFLAKES)       1
10  0.052632            (JAM,MAGGI,BREAD,MILK)       1
11  0.052632             (JAM,MAGGI,BREAD,TEA)       1
12  0.052632         (MAGGI,BREAD,TEA,BISCUIT)       1
13  0.052632               (MAGGI,TEA,BISCUIT)       1
14  0.052632            (MAGGI,TEA,CORNFLAKES)       1
15  0.052632      (TEA,MILK,COFFEE,CORNFLAKES)       1

In [14]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.0001)
rules.head()

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [15]:
rules.sort_values('confidence', ascending=True)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []